.face-share-card {
    width: 50%;
    margin: 0 auto;
    img {
      width: 100%;
      object-fit: cover;
    }

    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.092);
    border: 1px solid rgba(0, 0, 0, 0.327);
    padding: 10px;
  }

  .qalf {
    background-color: white;
    border: 1px solid black;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s all;

    &:hover {
background-color: black;
color: white;
    }
  }

  .snapped {
    background-color: rgba(lightgreen, 0.4) !important;
    color: darkgreen;
    transition: 0.3s all;
    transform: scale(1.03);
    button {
      box-shadow: lightgreen 3px 3px 7px;
      color: darkgreen;
      &:active {
        box-shadow: lightgreen 0 0 5px;
      }
    }
  }